@import './variables.css';

/* Set the default typography for monospace elements */
tt,
code,
kbd,
samp,
pre {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
}

#ipython_notebook img{                                                                                        
  display:block; 
  background: url("nm.png") no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#ipython_notebook::before{
  content:"Welcome to my S2-IDE";
  font-weight: 500;
  color: yellow;
 }